/* !! ANYONE WHO WORKS ON THIS ORGINIZE YOUR WORK AS SHOWN BELOW !! */

/* Index Page */
/* body {
    color: black;
    border-radius: 8px;
} */

/* Index Page */
/* body {
    color: black;
    border-radius: 8px;
} */

/* General CSS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Nunito", sans-serif;
}

.button {
    border-radius: 8px;
    background-color: #F2B853;
}

.button:hover {
    background-color: #ffd857;
}

.bg_extend1 {
    padding-top: 250px;
    padding-bottom: 250px;
}

/* Template Page */
#navBar2 {
    display: none;
}

/* Index Page */
#contents_list {
    display: none;
}

#contents_map {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 10px 20px;
    margin: auto;
    justify-content: center;
}

.grid_items {
    text-align: center;
}

.image_shading3 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 100px;
}

/* Sign In // Sign Up */
.log_intro {
    background-color: #3f474f;
    width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.log_box {
    background-color: #d8d8d8;
    width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#map {
    height: 500px;
}

.button2 {
    border-radius: 8px;
    background-color: #F2B853;
}

.button2:hover {
    background-color: #ffd857;
}


/* Cart Page */
#cart_box{
    background-color: #c5c5c5;
    padding: 20px;
    border-radius: 8px;
}

#cartbox_item {
    background-color: #758392;
    border-radius: 8px;
    padding: 10px;
    padding-left: 50px;
}

.cart_item {
    text-align: center;
    display: inline;
}

.item_title {
    font-weight: bold;
    font-size: larger;
}

.item_des{
    color: grey;
    font-size: small;
    padding-left: 18px;
    text-overflow: inherit;
}

.item_price {
    padding-left: 25px;
}

.item_card {
    background-color: white;
    padding: 10px;
    border-radius: 9px;
}

/* Restaurant Page */

#image_shading1 {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 175px;
    padding-bottom: 175px;
}

#add-web {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
}

#add {
    flex: 0 0 auto;
    justify-content: flex-start;
    margin-left: 10px;
}

#web {
    flex: 0 0 auto;
    justify-content: flex-end;
    margin-right: 10px;
}

.catagory-margin {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#rest_name {
    margin-top: 220px;
}

#rest_items {
    background-color: #ffd857;
    border-radius: 8px;
    padding: 5px;

}

.rest_grid {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 20px;
    justify-content: center;
}

#nav-style {
    background-color: #ffd857;
    border-radius: 8px;
    padding: 5px;
    position: sticky;
    margin-top: 63px;
}

nav {
    list-style-type: none;
    width: 250px;
    left: 10px;
    top: 45px;
}

nav a {
    color: #000000;
    border: 4px;
    border-radius: 12px;
    text-decoration: none;
    padding: 12px 12px;
    display: block;
}

nav a:hover {
    background-color: #e5c524;
}

#nav-menu {
    display: flex;
    flex-wrap: wrap;
}

#nav {
    flex: 0 0 auto;
    width: 20%;
}

#menu {
    flex: 0 0 auto;
    width: 80%;
}

/* Mobile Implementation */
@media screen and (max-width: 480px){
    /* Template Page */
    #navBar1 {
        display: none;
    }

    #navBar2 {
        display: grid;
    }

    /* Index Page */
    .grid{
        grid-template-columns: auto;
    }
}