/* !! ANYONE WHO WORKS ON THIS ORGINIZE YOUR WORK AS SHOWN BELOW !! */

/* Index Page */
/* body {
    color: black;
    border-radius: 8px;
} */

/* Index Page */
/* body {
    color: black;
    border-radius: 8px;
} */

/* General CSS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Nunito", sans-serif;
}

/* Index Page */
#contents_list {
    display: none;
}

#contents_map {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 20px 20px;
}

.grid_items {
    text-align: center;
}

/* Sign In // Sign Up */

.log_intro {
    background-color: blue;
    width: 600px;
    margin: auto;
    padding: 20px;
}

.log_box {
    background-color: pink;
    width: 600px;
    margin: auto;
    padding: 20px;
}

#map {
    height: 500px;
}

/* Cart Page */

#cart_box{
    background-color: aqua;
    padding: 20px;
    border-radius: 8px;
}