{% extends 'templates.jinja' %}
{% block contents %}

<main class="container">
    <br>
    <div id='cart_box' class="text-center">
        <div>
            <input type="checkbox" checked>
        </div>
    </div>
</main>

{% endblock %}