{% extends 'templates.jinja' %}
{% block contents %}

<main class="container">
    <br>
    <div id='cart_box'>
        <h1>Your Cart</h1>
        <hr>
        <div id="cartbox_item">
            {%for name, prices in cart | groupby('item_name')%}
                <div class="item_card">
                    <div class="cart_item">
                        <span class="item_title">{{name}}:</span>
                        {% for price in prices %}
                            <span class="item_price">{{price.service_name}}: ${{'%0.2f'| format(price.price_value|float)}}</span>
                        {% endfor %}
                        <br>
                        <span class="item_des">{{prices[0].item_description}}</span>
                    </div>
                </div>
            {%endfor%}
        </div>
        <hr>
        <p>Total:</p>
    </div>
</main>

{% endblock %}