{% extends 'templates.jinja' %}
{% block contents %}

<main class="container">
    <br>
    <div id='cart_box'>
        <li>
            <ul>
                ;alkdjf;alskdfj
            </ul>
        </li>
    </div>
</main>

{% endblock %}