{% extends "templates.jinja" %}
{%block head%}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <style>
        #rest_back {
            background-image: url("{{restaurant_data.image}}");
            background-size: cover;
            background-position: center;
            border-radius: 8px;
        }
        #banner {
            background-image: url("/static/pictures/frugalf_banner.png");
            background-size: cover;
            background-position: center;
            border-radius: 8px;
        }

        a:link {
            color: black;
            text-decoration: none;
        }
        a:visited {
            color: black;
        }
    </style>
{%endblock%}
{% block contents %}
<head>
    <title>Home | Frugal Foods</title>
</head>
<main class="container">
    <br>
    <hr>
    <div id="banner">
        <div class="bg_extend1"></div>
    </div>
    <hr>
    <div class="b-example-divider"></div>
    <div class="text-center">
        <button id="contents_mapB" class="ml_buttons">
            <h5>Map</h5>
        </button> &nbsp;|&nbsp;
        <button id="contents_listB" class="ml_buttons">
            <h5>List</h5>
        </button>
        {% if current_user.is_authenticated %}
            Hi {{ current_user.username }}!
        {% endif %}
    </div>
    <hr>
    <div id="contents_list" class="grid">
        {% for results in restaurants %}
        <a href="/restaurant/{{results.restaurant_id}}">
            <div class="grid_items" id="rest_back">
                <div class="image_shading3">
                    <h2 class="text-center">
                        {{results.restaurant_name}}
                    </h2>
                </div>
            </div> 
        </a>
        {% endfor %}
    </div>
    <div id="contents_map">
        <div id="map" style="border-radius: 8px;">
        </div>
            <script>
                var map = L.map('map').fitWorld();

                map.fitBounds([
                    [40.727805, -74.0295408],
                    [40.6562833, -73.8604929]
                ]);

                L.tileLayer('https://maps.circuitbreakers.tech/styles/basic-preview/512/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                {% for location in restaurants %}

                L.marker([{{location['restaurant_latitude']}}, {{location['restaurant_longitude']}}])
                .addTo(map)
                .bindPopup("<b>{{location['restaurant_name']}}</b> <p>Rating: {{location['rating']}}</p> <a href='/restaurant/{{location['restaurant_id']}}'>VIEW MENU</a>");
                {% endfor %}
            </script>   
        </div>
  
    
    {% endblock  %}