{% extends 'templates.jinja' %}
{% block contents %}

<main class="container">
    <br>
    <div class="log_intro">
        adsfaf
    </div>
    <div class="log_box">
        asdf
    </div>
</main>

{% endblock %}