{% extends 'templates.jinja' %}
{% block contents %}
<head>
    <title>{{restaurant_data.restaurant_name}} | Frugal Foods</title>
</head>

<main>
    <h3 class="text-center">
        <br>
        {{restaurant_data.restaurant_name}}
        <br>
    </h3>
    <div class="grid">
        {% for name, prices in itemprice | groupby('item_name')%}
        <div class="grid_items" style="background-color: ##ffd857;">
            <p>{{name}}</p>
            <p>{{prices[0].item_description}}</p>
        {% for price in prices %}<p>{{price.price_value}}</p>{% endfor %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}