{% extends 'templates.jinja' %}
{% block contents %}

<script>
function checkpass(new_password) {
    // Pass checker
    var specialCharRegex = /^[a-zA-Z0-9_]+$/;

   
    if (specialCharRegex.test(new_password)) {
        return true; // Return true if the password contains only valid characters
    } else { 
        return false; // Return false if the password contains any special characters other than _
    }
}
function validPass() {
    var new_password = document.getElementById("new_password").value;

    if (!checkpass(new_password)) {
        alert("Password can't contain special characters except '_'");
        return false; // Return false to stop the form submission
    } 
    // Continue form submission if the password is valid
    return true;
}
</script>

<main class="container">
    <br>
    <div class="log_intro">
        adsfaf
    </div>
    <div class="log_box">
        <form onsubmit="return validPass()" method="post">
            <input type="text" name="new_username" placeholder="Username">
            <input type="email" name="new_email" placeholder="Email">
            <input type="password" id='new_password' name="new_password" placeholder="Password" required>
            <input type="submit">
        </form>
        <p>Already have an account? <a href= '/login'>Login here!</a></p>
    </div>
</main>



{% endblock %}